<h2>Aplikacja Lista Zadań (To-Do List)</h2>
<p>
  Celem tego zadania jest stworzenie prostej aplikacji "To-Do List" (Lista
  Zadań) przy użyciu Angulara. Opis Zadania:
</p>
<ul>
  <li>
    Aplikacja powinna umożliwić użytkownikowi dodawanie nowych zadań do listy.
    Każde zadanie powinno składać się z tytułu opisu oraz opcjonalnie daty.
  </li>
  <li>
    Po dodaniu, zadania powinny być wyświetlane na liście zadań do wykonania.
    Lista ta powinna zawierać tytuł, opis oraz datę zadania.
  </li>
  <li>
    Zadania powinny być wyświetlane w kolejności od najnowszych do najstarszych.
  </li>
  <li>Użytkownik powinien mieć możliwość usunięcia i edycji zadania.</li>
  <li>
    Użytkownik powinien mieć możliwość oznaczenia zadania jako zakończone.
    Zadania zakończone powinny być oznaczone w sposób widoczny na liście zadań.
  </li>
  <li>Użytkownik powinien mieć możliwość przeglądania zadań zakończonych.</li>
</ul>
<p>Dodatkowe Punkty Za:</p>
<ol>
  <li>Wizualna atrakcyjność interfejsu użytkownika.</li>
  <li>
    Wykorzystanie Angular Router do nawigacji między różnymi widokami (np.
    aktualne zadania, zakończone zadania).
  </li>
  <li>
    Wykorzystanie Reactive Forms do stworzenia formularza do dodawania zadań.
  </li>
  <li>Użycie serwisów do pobierania i zarządzania danymi zadań.</li>
  <li>Użycie Observable i RxJS do zarządzania asynchronicznymi operacjami.</li>
  <li>
    Użycie strategii zarządzania stanem, takiej jak NgRx, do zarządzania stanem
    aplikacji.
  </li>
</ol>

<p>
  <b
    ><u>Wszystkie powyższe punkty zostały spełnione.</u>
    Proszę przejść do dalszych zakładek:
    <ul>
      <li>To Do</li>
      <li>Completed</li>
    </ul></b
  >
</p>
