<h3 class="my-3">Edit Task</h3>
<hr />
<mat-card [formGroup]="taskForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <!-- ShowTitleErrors -->
    <div *ngIf="getTitleIsNotValid">
      <mat-error>{{ showTitleErrors() }}</mat-error>
    </div>
    <!-- ShowTitleErrors END-->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <!-- ShowTitleErrors -->
    <div *ngIf="getDescriptionIsNotValid">
      <mat-error> {{ showDescriptionErrors() }}</mat-error>
    </div>
    <!-- ShowTitleErrors END-->
  </mat-form-field>
  <div class="my-3">
    <button
      [disabled]="!getTaskFormIsValid"
      type="submit"
      mat-raised-button
      color="accent"
      (click)="onEditTask()"
    >
      Update
    </button>
  </div>
</mat-card>
