<div class="row">
  <div class="col-md-10 my-2">
    <div class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" [routerLink]="['add']">
        Create new Task
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2 class="my-3">To Do Tasks:</h2>
    <mat-card>
      <mat-card-content>
        <mat-list *ngIf="tasks$ | async as tasks">
          <mat-list-item *ngFor="let task of tasks | latestOrder" class="my-5">
            <span matListItemTitle>
              <div class="my-2">
                <b>Title:</b><br />
                {{ task.title }}
              </div>
            </span>

            <span matListItemLine>
              <div class="my-2">
                <b> Description:</b><br />
                {{ task.description }}
              </div>
            </span>
            <span matListItemLine *ngIf="task.startDate"
              ><b>Created:</b><br />
              {{ task.startDate | date }}</span
            >
            <button mat-icon-button [routerLink]="['edit', task.id]">
              <mat-icon class="blue-icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteTask(task.id)">
              <mat-icon class="red-icon">delete_forever</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['details', task.id]">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['status-change', task.id]">
              <mat-icon class="green-icon">done_outline</mat-icon>
            </button>
            <span matListItemLine><hr /></span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
