<div class="row">
  <div class="col-md-8">
    <div class="justify-end">
      <button mat-stroked-button color="primary" [routerLink]="['add']">
        Create new Task
      </button>
    </div>
    <h2 class="my-3">To Do Tasks:</h2>
    <mat-card>
      <mat-card-content>
        <mat-selection-list *ngIf="tasks$ | async as tasks">
          <mat-list-item *ngFor="let task of tasks">
            <span matListItemTitle>{{ task.id }}: {{ task.title }}</span>
            <span matListItemLine>{{ task.description }}</span>
            <button mat-icon-button [routerLink]="['edit', task.id]">
              <mat-icon class="blue-icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteTask(task.id)">
              <mat-icon class="red-icon">delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
