<div class="row py-4"></div>
<div class="row">
  <div class="col-md-8">
    <h2 class="my-3">Completed Tasks:</h2>
    <mat-card>
      <mat-card-content>
        <mat-list *ngIf="tasks$ | async as tasks">
          <mat-list-item *ngFor="let task of tasks" class="my-5">
            <span matListItemTitle>
              <span>Title:</span><br />
              {{ task.title }}</span
            >

            <span matListItemLine
              ><span><b>Description:</b></span
              ><br />
              {{ task.description }}</span
            >
            <p
              matListItemLine
              *ngIf="task.doneDate"
              class="d-flex justify-content-end"
            >
              <b>Completed:</b><br />
              {{ task.doneDate }}
            </p>
            <span
              matListItemLine
              *ngIf="task.startDate"
              class="d-flex justify-content-end"
              ><b>Created:</b><br />
              {{ task.startDate }}</span
            >
            <button mat-icon-button [routerLink]="['edit', task.id]">
              <mat-icon class="blue-icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteTask(task.id)">
              <mat-icon class="red-icon">delete_forever</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['details', task.id]">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['status-change', task.id]">
              <mat-icon class="yellow-icon">replay</mat-icon>
            </button>
            <span matListItemLine><hr /></span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
