<h2 class="my-4">Task Details:</h2>
<div *ngIf="task | async as taskData">
  <mat-card>
    <mat-card-content>
      <div class="banner-content my-4">
        <p *ngIf="taskData.isDone">
          <mat-icon class="green-icon">check_circle</mat-icon>
        </p>
        <p>
          Id: <b>{{ taskData.id }}</b>
        </p>

        <p class="display-1">{{ taskData.title }}</p>

        <p>
          <b>Description:</b><br />
          {{ taskData.description }}
        </p>
        <p *ngIf="taskData.startDate">
          <b>Created: </b> {{ taskData.startDate | date : "short" }}
        </p>
        <p *ngIf="taskData.doneDate">
          <b>Completed: </b> {{ taskData.doneDate | date : "short" }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="my-3">
    <div *ngIf="taskData.isDone; else TODO_Back">
      <a mat-raised-button [routerLink]="['/done-tasks']"
        >Back to Completed Tasks List</a
      >
    </div>
    <ng-template #TODO_Back>
      <a mat-raised-button [routerLink]="['/todo-tasks']"
        >Back to TODO Tasks List</a
      >
    </ng-template>
  </div>
</div>
